# Learning Objectives

By the end of this class, you will be able to...

- Write functions to compute probability and conditional probability 
- Use Bayes formula to compute conditional probability

## A Brief Introduction to Probabilistic Thinking

Probability is all about the **chances of an event occurring** or how likely an event is to occur, in a set of events.

If you really think about it, you've been thinking about probability all of your life! 

Ever wondered about...

> -  The chances of it raining today
> -  The chances of winning the lottery
> -  The chances of getting hired at Google

That's probabilistic thinking! 

We can draw immediate connections from the world of probabilistic thinking to the world of statistical inference and analysis.

In mathematics, probability is modeled by the following expression:

$P(A)= \frac{Count of A }{sample Space}$

Don't fear at the sight of equations and non-numerical variables – this is much simpler than it looks! 

All this translates to is that **the probability of Event A occurring** in a set of observed events in _Sample Space S_ is equal to **the number of occurrences of Event A** across _Sample Space S_ divided by **the total number of observed events**. 

Note that since the number of occurrences of a single event can never be bigger than the total events that can occur in the sample space, the probability of an event will always be within the range: [0, 1].

The closer our probability estimate is to zero (0), the less likely it is for our event in-question to occur, with a value of zero (0) indicating that our observed event didn't occur at all. 

The closer our probability estimate is to one (1), the more likely it is for our event in-question to occur, with a value of one (1) indicating that our observed event occurs in every observable instance.


<img src="https://www2.southeastern.edu/Academics/Faculty/dgurney/Math241/StatTopics/PrbScl4.jpg" />

You'll often see this represented in data sets in a number of formats. 

Here are some examples:

| Won Lottery |
| ----|
| yes |
| no  |
| no  |
| no  |

<br>

| Hired by Google |
|------|
| false|
| true |
| true |
| false|

<br>

Any kind of distribution of values where our data can take one of multiple, separately-occurring **states** indicates that we can think about the probability of each state (event) occurring on its own!

## Conditional Probability

- We want to have a better guess when we have some additional observations for a random event

- For example, what is the probability that someone will be hired by Google, knowing that they have a Master Degree?

### _Example Question: I Scream for Ice Cream_

70% of your friends like Chocolate, and 35% like Chocolate AND like Strawberry.

What percent of those who like Chocolate also like Strawberry?

Another way to refactor the question to fit our conditional probability model:

- Given that some friends like _Chocolate_, what is the probability that they like _Strawberry_ as well?

We can now attribute our events to the question parameters!

- **Event A: Chocolate**
- **Event B: Strawberry**

We're already given the following:

- $ P( Chocolate ) = 0.7 $
- $ P( Chocolate \cap Strawberry) = 0.35 $

And asked the following:

- $ P( Strawberry \mid Chocolate ) = ? $

#### In general cases, the conditional probability of an event is described by the following equation.

<br><img src="https://www.mathsisfun.com/data/images/probability-independent-formula2.gif" /><br>

Therefore, our conditional probability model now looks a little like this:

$ P( Strawberry \mid Chocolate ) = \frac{P( Chocolate \cap Strawberry )}{P( Chocolate )} $

Plugging in our parameters gives us the following answer:

$ P( Strawberry \mid Chocolate ) = \frac{0.35}{0.7} = 0.5 $

...which confirms to us that 50% of your friends who like chocolate also like strawberry. 

Makes sense when you think about it!

## Activity (Titanic):

### Given that some passengers paid over $100 for their ticket, what is the chance they survived?
    
There are two ways we can approach this problem.

1. Calculate it directly: $P(survived = 1 | Fare > 100)$
1. Use **Bayes' Theorem**. Bayes' Theorem describes the probability of an event, based on prior knowledge of conditions that might be related to the event. It can be calculated using this formula:

$ P( A \mid B ) = \frac{P( B \mid A ) * P( A )}{P( B )} $

We know how to calculate $ P( B \mid A ) $, so we can deduce the following:

$ P( A \mid B ) = \frac{P( B \mid A ) * P( A )}{P( B )} = \frac{\frac{P( A \cap B )}{P ( A )} * P( A )}{P( B )} = \frac{P( A \cap B )}{P( B )} = \frac{P(survived = 1 and Fare > 100)}{P(Fare > 100)} $

#### Direct Solution:

In [12]:
dict(df[df['Fare'] > 100]['Survived'].value_counts())

{1: 39, 0: 14}

In [13]:
39 / (39 + 14)

0.7358490566037735

#### Bayes' Theorem Solution

In [67]:
# Solution:
import pandas as pd
df = pd.read_csv('Datasets/titanic.csv')

# P(survived = 1 and Fare > 100)
P_Numerator = len(df[(df['Survived'] == 1) &  (df['Fare'] > 100)])/len(df)
# P(Fare > 100)
P_Denominator = len(df[df['Fare'] > 100])/len(df)

print(P_Numerator/P_Denominator)

0.7358490566037736

In [68]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### What is the probability that a survived passenger was man?

$P(passenger = man \mid Survived = 1)$

In [69]:
df['Sex'].dropna()

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

In [70]:
df['Survived'].dropna()

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [71]:
pd.crosstab(df['Survived'],df['Sex'], normalize='index')

Sex         female      male
Survived
0         0.147541  0.852459
1         0.681287  0.318713

In [72]:
df[df['Survived']==1]['Sex'].value_counts()

female    233
male      109
Name: Sex, dtype: int64

In [73]:
109/(233+109)

0.31871345029239767

In [74]:
dict(df[df['Survived'] == 1]['Sex'].value_counts())

{'female': 233, 'male': 109}

In [75]:
109 / (233 + 109)

0.31871345029239767

### Other challenges

- Given that a passenger is under 30 but over 20 years old, what are the chances they are in first class?
- Given that a female passenger was unmarried, what are the chances that she survived?
- Given that a male passenger over 30 years did not survive, what are the odds that he paid less than $25 for a ticket?

In [77]:
pd.crosstab(df[(df['Age']>20) & (df['Age']<30), df['Pclass'], normalize='index')

SyntaxError: invalid syntax (<ipython-input-77-adf43cbf74b5>, line 1)

In [48]:
len(df[(df['Age'] > 20) & (df['Age'] < 30) &(df['Pclass'] == 1)]) / len(df[(df['Age'] > 20) & (df['Age'] < 30)])

0.16585365853658537

## Tennis Dataset

- This dataset contains how professional tennis players decide to play outdoor tennis based on climate conditions

In [80]:
import pandas as pd

df = pd.read_csv('Datasets/tennis.txt', delimiter="\t", header=None, names=['Outlook', 'Temp', 'Humidity', 'Wind', 'Decision'])
df

     Outlook  Temp Humidity    Wind Decision
1      Sunny   Hot     High    Weak       No
2      Sunny   Hot     High  Strong       No
3   Overcast   Hot     High    Weak      Yes
4       Rain  Mild     High    Weak      Yes
5       Rain  Cool   Normal    Weak      Yes
6       Rain  Cool   Normal  Strong       No
7   Overcast  Cool   Normal  Strong      Yes
8      Sunny  Mild     High    Weak       No
9      Sunny  Cool   Normal    Weak      Yes
10      Rain  Mild   Normal    Weak      Yes
11     Sunny  Mild   Normal  Strong      Yes
12  Overcast  Mild     High  Strong      Yes
13  Overcast   Hot   Normal    Weak      Yes
14      Rain  Mild     High  Strong       No

## Activity: What is the probability that a Tennis player plays when Wind is Weak?

In [81]:
pd.crosstab(df['Wind'], df['Decision'], normalize='index') # does bayes theorem for us

Decision    No   Yes
Wind
Strong    0.50  0.50
Weak      0.25  0.75

In [82]:
print(df[df['Wind'] == 'Weak'])

df[df['Wind'] == 'Weak']['Decision']

     Outlook  Temp Humidity  Wind Decision
1      Sunny   Hot     High  Weak       No
3   Overcast   Hot     High  Weak      Yes
4       Rain  Mild     High  Weak      Yes
5       Rain  Cool   Normal  Weak      Yes
8      Sunny  Mild     High  Weak       No
9      Sunny  Cool   Normal  Weak      Yes
10      Rain  Mild   Normal  Weak      Yes
13  Overcast   Hot   Normal  Weak      Yes

1      No
3     Yes
4     Yes
5     Yes
8      No
9     Yes
10    Yes
13    Yes
Name: Decision, dtype: object

In [83]:
6/8

0.75

In [91]:
def prob_decision(c1, c2, condition):
 
    df_new = df[df[c1] == condition][c2]
    
    hashtable = {}
    
    column = df_new.unique()
    
    for item in column:
        hashtable[item] = len(df[(df[c1]==condition) & (df[c2]==item)]) / len(df_new)
    return hashtable 

print(prob_decision('Temp', 'Decision', 'Mild'))

{'Yes': 0.6666666666666666, 'No': 0.3333333333333333}

In [86]:
df['Wind'].unique()

array(['Weak', 'Strong'], dtype=object)

## Activity: Write a function that takes Wind conditions (Weak or Strong) and returns the Tennis Player Decision

In [84]:
def conditional_prob(c1, c2, condition):
    df_new = df[df[c1] == condition][c2]
    s = df_new.unique()
    population_size = len(df_new)
    pr = {}
    for i in s:
        pr[i] = len(df[(df[c1] == condition) & (df[c2]== i)]) / population_size
    
    return pr
        
print(conditional_prob('Wind', 'Decision', 'Weak'))
print(conditional_prob('Wind', 'Decision', 'Strong'))

{'No': 0.25, 'Yes': 0.75}
{'No': 0.5, 'Yes': 0.5}