In [8]:
import pandas as pd
import numpy as np 
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
from scipy import stats

df = pd.read_csv('Datasets/brain_size.csv', sep=';', na_values=".")
df.head()

   Unnamed: 0  Gender  FSIQ  VIQ  PIQ  Weight  Height  MRI_Count
0           1  Female   133  132  124   118.0    64.5     816932
1           2    Male   140  150  124     NaN    72.5    1001121
2           3    Male   139  123  150   143.0    73.3    1038437
3           4    Male   133  129  128   172.0    68.8     965353
4           5  Female   137  132  134   147.0    65.0     951545

In [28]:
df = df.dropna()

In [29]:
from scipy.stats import ttest_ind 
female_iq = df[df['Gender']=='Male']['VIQ']
male_iq = df[df['Gender']=='Female']['VIQ']
stat, p = ttest_ind(female_iq, male_iq)
print(p)
if p < .05:
    print('The VIQ for male and female are different')
else:
    print('The VIQ for male and female are the same')

0.4550660394858371
The VIQ for male and female are the same

In [30]:
from scipy.stats import ttest_ind 
female_iq = df[df['Gender']=='Male']['PIQ']
male_iq = df[df['Gender']=='Female']['PIQ']
stat, p = ttest_ind(female_iq, male_iq)
print(p)
if p < .05:
    print('The VIQ for male and female are different')
else:
    print('The VIQ for male and female are the same')

0.8015127184458677
The VIQ for male and female are the same

In [31]:
from scipy.stats import ttest_ind 
female_iq = df[df['Gender']=='Male']['Weight']
male_iq = df[df['Gender']=='Female']['Weight']
stat, p = ttest_ind(female_iq, male_iq)
print(p)
if p < .05:
    print('The VIQ for male and female are different')
else:
    print('The VIQ for male and female are the same')

2.227293018362118e-05
The VIQ for male and female are different

In [32]:
from scipy.stats import ttest_ind 
female_iq = df[df['Gender']=='Male']['FSIQ']
male_iq = df[df['Gender']=='Female']['FSIQ']
stat, p = ttest_ind(female_iq, male_iq)
print(p)
if p < .05:
    print('The VIQ for male and female are different')
else:
    print('The VIQ for male and female are the same')

0.6582675757550638
The VIQ for male and female are the same

In [33]:
from scipy.stats import ttest_ind 
female_iq = df[df['Gender']=='Male']['Height']
male_iq = df[df['Gender']=='Female']['Height']
stat, p = ttest_ind(female_iq, male_iq)
print(p)
if p < .05:
    print('The VIQ for male and female are different '+ str(p))
else:
    print('The VIQ for male and female are the same '+ str(p))

5.83598319801381e-07
The VIQ for male and female are different 5.83598319801381e-07